/*** footer start ***/
.footer {
    background: #dca588;
}

.justify-content-center{
    justify-content: space-around !important;
    gap: 50px;
}

.footer .footer-item a,
.footer .footer-item p {
    color: var(--bs-white);
    line-height: 40px;
    font-size: 17px;
    transition: 0.5s;
}

.footer .footer-item a:hover {
    letter-spacing: 2px;
    color: #7f0f09 !important;
}

/*** Footer End ***/
